<header class="app-header">
  <div class="app-title">{{ title }}</div>
  <div class="header-controls">
    <div class="filter-dropdown">
      <select id="filter" (change)="onFilterChange($event)">
        <option value="0" selected>all</option>
        <option value="2025">2025</option>
        <option value="2024">2024</option>
        <option value="2023">2023</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
      </select>
    </div>
  </div>
</header>
