@if (node.type === 'dotImage') {
  <div [style.text-align]="node.attrs?.textAlign ?? 'left'">
    @if (node.attrs && node.attrs.src) {
      @if (node.attrs.href) {
        <a [href]="node.attrs.href" target="_blank">
          <img
            [src]="environment.DOTCMS_URL + node.attrs.src"
            [alt]="node.attrs.alt ?? ''"
            class="dotImage"
          />
        </a>
      } @else {
        <img
          [src]="environment.DOTCMS_URL + node.attrs.src"
          [alt]="node.attrs.alt ?? ''"
          class="dotImage"
        />
      }
    }
  </div>
}
