
@if (node.type === 'blockquote') {
  <blockquote>
    @for (paragraph of node.content; track $index) {
      @if (paragraph.type === 'paragraph') {
        <p [style.text-align]="paragraph.attrs?.textAlign ?? 'left'">
          @for (textNode of paragraph.content; track $index) {
            @if (hasLink(textNode)) {
              <a [href]="getLink(textNode)?.href"
                 [attr.target]="getLink(textNode)?.target"
                 [attr.rel]="getLink(textNode)?.rel"
                 [ngStyle]="getStyles(textNode)">
                {{ getText(textNode) }}
              </a>
            } @else {
              <span [ngStyle]="getStyles(textNode)">
                {{ getText(textNode) }}
              </span>
            }
          }
        </p>
      }
    }
  </blockquote>
}
