@if (node?.type === 'blockquote') {
  <blockquote
    [style.margin-left.px]="node.attrs?.indent ?? 0"
    style="border-left: 4px solid #ccc; padding-left: 12px; color: #555; font-style: italic;"
  >
    @for (child of node.content; track child) {
      @if (child.type === 'paragraph') {
        <p [style.text-align]="child.attrs?.textAlign ?? 'left'">
          @for (textNode of child.content; track textNode) {
            @if (textNode.type === 'text') {
              <span style="color: orange"
              >
                "{{ textNode.text }}"
              </span>
            }
          }
        </p>
      }
    }
  </blockquote>
}
