@if (node.type === 'orderedList') {
  <ol [attr.start]="node.attrs?.start ?? 1">
    @for (item of node.content; track item) {
      @if (item.type === 'listItem') {
        <li [style.text-align]="item.attrs?.textAlign ?? 'left'">
          @for (child of item.content; track child) {
            @if (child.type === 'paragraph') {
              <p [style.text-align]="child.attrs?.textAlign ?? 'left'">
                @for (textNode of child.content; track $index) {
                  @if (hasLink(textNode)) {
                    <a [href]="getLink(textNode)?.href"
                       [attr.target]="getLink(textNode)?.target"
                       [attr.rel]="getLink(textNode)?.rel"
                       [ngStyle]="getStyles(textNode)">
                      {{ getText(textNode) }}
                    </a>
                  } @else {
                    <span [ngStyle]="getStyles(textNode)">
                {{ getText(textNode) }}
              </span>
                  }
                }
              </p>
            }

            @if (child.type === 'orderedList') {
              <app-block-orderlist [node]="child"></app-block-orderlist>
            }
          }
        </li>
      }
    }
  </ol>
}
