@if (blog !== null) {
  <section class="article-view" id="article-view">
    <div class="article-content">

      <div class="hero-image-container">
        <img src="{{dotCmsGetImageHelper({
            imageId : blog.image,
            width : 800,
            height : 500,
            quality : 100,
            format : 'webp',
        })}}"
             alt="{{blog.title}}"
        >
      </div>
      <h1>{{ blog.title }}</h1>
      <p class="article-meta">{{ blog.publishDate | date: 'MMM d, y, h:mm a' }}</p>


      <app-news-content-renderer [nodes]="blog.blogContent.content"></app-news-content-renderer>


    </div>
  </section>
}

