@for (node of nodes; track node) {
  <div>

    <!--    Headings Start-->
    <app-block-heading [node]="node">
      @if (node.content && node.type === 'heading') {
        <app-news-content-renderer [nodes]="node.content"></app-news-content-renderer>
      }
    </app-block-heading>
    <!--    @if (node.type === 'heading') {-->
    <!--      <h1-->
    <!--        [style.text-align]="node.attrs?.textAlign ?? 'left'"-->
    <!--        [style.font-size]="getHeadingFontSize(node.attrs?.level ?? 1)"-->
    <!--      >-->
    <!--        {{ getText(node) }}-->
    <!--      </h1>-->

    <!--      @if (node.type !== 'heading' && node.content?.length && node.content) {-->
    <!--        <app-news-content-renderer [nodes]="node.content"></app-news-content-renderer>-->
    <!--      }-->
    <!--    }-->
    <!--    Heading End-->


    <!--    Paragraphs Start-->
    <app-block-paragraph [node]="node">
      @if (node.content && node.type === 'paragraph') {
        <app-news-content-renderer [nodes]="node.content"></app-news-content-renderer>
      }
    </app-block-paragraph>
    <!--    @if (node.type === 'paragraph') {-->
    <!--      <p [style.text-align]="node.attrs?.textAlign ?? 'left'">-->
    <!--        {{ getTextForParagraph(node) }}-->
    <!--      </p>-->

    <!--      @if (node.content?.length && node.content) {-->
    <!--        <app-news-content-renderer [nodes]="node.content"></app-news-content-renderer>-->
    <!--      }-->
    <!--    }-->
    <!--    Paragraphs End-->

    <!-- Bullet List Start -->
    <app-block-list [node]="node">
      @if (node.content && node.type === 'bulletList') {
        <app-news-content-renderer [nodes]="node.content"></app-news-content-renderer>
      }
    </app-block-list>
    <!--    @if (node.type === 'bulletList') {-->
    <!--      <ul>-->
    <!--        @for (item of node.content; track item) {-->
    <!--          @if (item.type === 'listItem') {-->
    <!--            <li [style.text-align]="item.attrs?.textAlign ?? 'left'">-->

    <!--              @for (child of item.content; track child) {-->

    <!--                &lt;!&ndash; Paragraphs inside list item &ndash;&gt;-->
    <!--                @if (child.type === 'paragraph') {-->
    <!--                  <p [style.text-align]="child.attrs?.textAlign ?? 'left'"-->
    <!--                     [style.margin-left.px]="child.attrs?.indent ?? 0">-->
    <!--                    @for (textNode of child.content; track textNode) {-->
    <!--                      <span [style.font-weight]="isBold(textNode) ? 'bold' : 'normal'">-->
    <!--                    {{ getText(textNode) }}-->
    <!--                  </span>-->
    <!--                    }-->
    <!--                  </p>-->
    <!--                }-->

    <!--                &lt;!&ndash; Nested bullet list &ndash;&gt;-->
    <!--                @if (child.type === 'bulletList') {-->
    <!--                  <app-news-content-renderer [nodes]="[child]"></app-news-content-renderer>-->
    <!--                }-->
    <!--              }-->
    <!--            </li>-->
    <!--          }-->
    <!--        }-->
    <!--      </ul>-->
    <!--    }-->
    <!-- Bullet List End -->


    <!-- Dot Image Start -->
    <app-block-dotimage [node]="node"/>

    <!--    @if (node.type === 'dotImage') {-->
    <!--      <div [style.text-align]="node.attrs?.textAlign ?? 'left'">-->
    <!--        @if (node.attrs && node.attrs.src) {-->
    <!--          @if (node.attrs.href) {-->
    <!--            <a [href]="node.attrs.href" target="_blank">-->
    <!--              <img-->
    <!--                [src]="environment.DOTCMS_URL + node.attrs.src"-->
    <!--                [alt]="node.attrs.alt ?? ''"-->
    <!--                style="max-width: 30%; height: auto;"-->
    <!--              />-->
    <!--            </a>-->
    <!--          } @else {-->
    <!--            <img-->
    <!--              [src]="environment.DOTCMS_URL + node.attrs.src"-->
    <!--              [alt]="node.attrs.alt ?? ''"-->
    <!--              style="max-width: 40%; height: auto;"-->
    <!--            />-->
    <!--          }-->
    <!--        }-->
    <!--      </div>-->
    <!--    }-->
    <!-- Dot Image End -->

    <!-- Table Start -->
    @if (node.type === 'table') {
      <app-block-table>
        @for (row of node.content; track row) {
          <tr>
            @for (cell of row.content; track cell) {
              <td>
                @if (cell.content?.length && cell.content) {
                  <app-news-content-renderer [nodes]="cell.content"></app-news-content-renderer>
                }
              </td>
            }
          </tr>
        }
      </app-block-table>
    }
    <!--    <app-block-table [node]="node">-->
    <!--      @if (node.content && node.type === 'table') {-->
    <!--        <app-news-content-renderer [nodes]="node.content"></app-news-content-renderer>-->
    <!--      }-->
    <!--    </app-block-table>-->
    <!--    @if (node.type === 'table') {-->
    <!--      <table border="1" style="border-collapse: collapse; width: 100%;">-->
    <!--        @for (row of node.content; track row) {-->
    <!--          @if (row.type === 'tableRow') {-->
    <!--            <tr>-->
    <!--              @for (cell of row.content; track cell) {-->

    <!--                &lt;!&ndash; Header Cell &ndash;&gt;-->
    <!--                @if (cell.type === 'tableHeader') {-->
    <!--                  <th-->
    <!--                    [attr.colspan]="cell.attrs?.colspan ?? 1"-->
    <!--                    [attr.rowspan]="cell.attrs?.rowspan ?? 1"-->
    <!--                    style="padding: 8px; text-align: center;"-->
    <!--                  >-->
    <!--                    @if (cell.content?.length && cell.content) {-->
    <!--                      <app-news-content-renderer [nodes]="cell.content"></app-news-content-renderer>-->
    <!--                    }-->
    <!--                  </th>-->
    <!--                }-->

    <!--                &lt;!&ndash; Regular Cell &ndash;&gt;-->
    <!--                @if (cell.type === 'tableCell') {-->
    <!--                  <td-->
    <!--                    [attr.colspan]="cell.attrs?.colspan ?? 1"-->
    <!--                    [attr.rowspan]="cell.attrs?.rowspan ?? 1"-->
    <!--                    style="padding: 8px; text-align: center;"-->
    <!--                  >-->
    <!--                    @if (cell.content?.length && cell.content) {-->
    <!--                      <app-news-content-renderer [nodes]="cell.content"></app-news-content-renderer>-->
    <!--                    }-->
    <!--                  </td>-->
    <!--                }-->

    <!--              }-->
    <!--            </tr>-->
    <!--          }-->
    <!--        }-->
    <!--      </table>-->
    <!--    }-->
    <!-- Table End -->


    <!-- Dot Content Start -->
    <app-block-card [node]="node"></app-block-card>
    <!--    @if (node.type === 'dotContent') {-->
    <!--      <div class="dot-content-card"-->
    <!--           style="border: 1px solid #ccc; padding: 16px; margin-bottom: 16px; border-radius: 8px;">-->

    <!--        &lt;!&ndash; Title &ndash;&gt;-->
    <!--        <h2 style="margin-bottom: 8px;">-->
    <!--          {{ node.attrs?.data?.title }}-->
    <!--        </h2>-->

    <!--        &lt;!&ndash; Images &ndash;&gt;-->
    <!--        @if (node.attrs?.data?.image || node.attrs?.data?.image2) {-->
    <!--          <div class="images" style="display: flex; gap: 8px; margin-bottom: 8px;">-->
    <!--            @if (node.attrs?.data?.inode) {-->
    <!--              <img [src]="environment.DOTCMS_URL + '/dA/' + node.attrs?.data?.inode "-->
    <!--                   alt="{{ node.attrs?.data?.title }}"-->
    <!--                   style="width: 150px; height: auto; object-fit: cover; border-radius: 4px;"/>-->
    <!--            }-->
    <!--          </div>-->
    <!--        }-->

    <!--        &lt;!&ndash; Description &ndash;&gt;-->
    <!--        @if (node.attrs?.data?.description) {-->
    <!--          <div class="description" [innerHTML]="node.attrs?.data?.description" style="margin-bottom: 8px;"></div>-->
    <!--        }-->

    <!--        &lt;!&ndash; Price &ndash;&gt;-->
    <!--        @if (node.attrs?.data?.retailPrice) {-->
    <!--          <div class="price" style="font-weight: bold; margin-bottom: 8px;">-->
    <!--            Price: ${{ node.attrs?.data?.retailPrice }}-->
    <!--          </div>-->
    <!--        }-->


    <!--      </div>-->

    <!-- Dot Content End -->

    <!--    Ordered List-->
    <app-block-orderlist [node]="node"></app-block-orderlist>

    <!--    Block Quote-->
    <app-block-quote [node]="node"></app-block-quote>

    <!--    Block Horizontal Line-->
    <app-block-horizontal-line [node]="node"></app-block-horizontal-line>

    <!--    Code block-->
    <app-block-code-block [node]="node"></app-block-code-block>

    <!--    Block Youtube-->
    <app-block-youtube [node]="node"></app-block-youtube>

    <!--    Block Dot Video-->
    <app-block-dot-video [node]="node"></app-block-dot-video>


  </div>
}

