@for (node of nodes; track node) {
  <div>
    <app-block-dotimage [node]="node"/>
    <app-block-card [node]="node"></app-block-card>
    <app-block-orderlist [node]="node"></app-block-orderlist>
    <app-block-quote [node]="node"></app-block-quote>
    <app-block-horizontal-line [node]="node"></app-block-horizontal-line>
    <app-block-code-block [node]="node"></app-block-code-block>
    <app-block-youtube [node]="node"></app-block-youtube>
    <app-block-dot-video [node]="node"></app-block-dot-video>
    <app-block-heading [node]="node"/>
    <app-block-paragraph [node]="node"/>
    <app-block-list [node]="node"/>
    <app-block-table [node]="node"></app-block-table>
  </div>
}

