<!--Application Loader -->
<app-loader [visible]="showLoader"></app-loader>


<app-header [title]="headerTitle"
            [imageUrl]="headerImageUrl"
            (filterChanged)="onNewsFilterChange($event)">>
</app-header>


<div class="news-container">
  <!-- Sidebar Start -->
  <aside class="sidebar">
    <ul class="news-list">
      @if (filteredBlogs.length === 0) {
        <p>No records</p>
      }
      @for (blog of filteredBlogs; track blog.identifier) {
        <li [ngClass]="{'selected': blog.identifier === selectedBlog?.identifier}" class="news-item" [routerLink]="['/blog', blog.identifier]" (click)="onSelectedBlogChange(blog)">
          <div class="thumbnail">
            <img
              [src]="dotCmsGetImageHelper({
                  imageId: blog.image,
                  width: 100,
                  height: 100,
                  quality: 100,
                  format: 'webp',
              })"
              alt="{{ blog.title }}"
            />
          </div>
          <div class="info">
            <h3>{{ blog.title }}</h3>
            <span class="time">{{ blog.publishDate | date:'MMM d, y, h:mm a' }}</span>
          </div>
        </li>
      }
    </ul>


    <!-- Pagination Start -->
    @if (selectedFilter === 0) {
      <div class="pagination">
        <span class="page-info">Page {{ page }} of {{ totalPages }}</span>
        <div class="page-limit">
          <label for="limit" style="color: white">Limit:</label>
          <select id="limit" (change)="onLimitChange($event)">
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>
      <div class="pagination-buttons">
        <button class="page-btn prev" [disabled]="page === 1"  (click)="onPreviousPage()">« Prev</button>
        <button class="page-btn next" (click)="onNextPage()" [disabled]="page === totalPages" >Next »</button>
      </div>
    } @else {
      <p>showing for year {{ selectedFilter }}</p>
    }
    <!-- Pagination End -->

  </aside>
  <!--  SideBar End-->

  <!-- Main content -->
  <app-news-detail [blog]="selectedBlog"></app-news-detail>

<!--  @if (selectedBlog !== null) {-->
<!--    <main class="content">-->
<!--      <img [src]="dotCmsGetImageHelper({-->
<!--                  imageId: selectedBlog.image,-->
<!--                  width: 1000,-->
<!--                  height: 1000,-->
<!--                  quality: 100,-->
<!--                  format: 'webp',-->
<!--              })"-->
<!--           alt="{{ selectedBlog.title }}" class="heroImage">-->
<!--      <article class="news-detail">-->
<!--        <h2 class="news-title">{{ selectedBlog.title }}</h2>-->
<!--        <span class="published">Published: {{ selectedBlog.publishDate | date : 'MMM d, y, h:mm a' }}</span>-->

<!--        <p>-->
<!--          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit...-->
<!--        </p>-->
<!--        <p>-->
<!--          Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue...-->
<!--        </p>-->
<!--        <p>-->
<!--          Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper...-->
<!--        </p>-->
<!--      </article>-->
<!--    </main>-->
<!--  }-->


</div>
