<!--Application Loader -->
<app-loader [visible]="showLoader"></app-loader>


<app-header [title]="headerTitle"
            [imageUrl]="headerImageUrl"
            (filterChanged)="onNewsFilterChange($event)">>
</app-header>


<main class="main-layout">
  <section class="article-list" id="article-list">

    @for (blog of filteredBlogs; track blog.identifier) {
      <div [routerLink]="['/blog', blog.identifier]" (click)="onSelectedBlogChange(blog)"
           [class.selected]="blog.identifier === selectedBlog.identifier" class="list-item" data-id="a1">
        <div class="item-thumbnail">
          <img src="{{dotCmsGetImageHelper({
          imageId: blog.image,
          width: 100,
          height: 100,
          quality: 100,
          format: 'webp',
          })}}" alt="{{ blog.title }}">
        </div>
        <div class="item-content">
          <h3>{{ blog.title }}</h3>
          <p>{{ blog.publishDate | date: 'MMM d, y, h:mm a' }}</p>
        </div>
      </div>
    }

    <!-- Pagination Start -->
    @if (selectedFilter === 0) {
        <div class="pagination">
          <span class="page-info">Page {{ page }} of {{ totalPages }}</span>
          <div class="page-limit">
            <label for="limit" style="color: white">Limit:</label>
            <select class="selectLimit" id="limit" (change)="onLimitChange($event)">
              <option value="5" selected>5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
            </select>
          </div>
          <div class="pagination-buttons">
            <button class="page-btn prev" [disabled]="page === 1" (click)="onPreviousPage()">« Prev</button>
            <button class="page-btn next" (click)="onNextPage()" [disabled]="page === totalPages">Next »</button>
          </div>
        </div>


    } @else {
      <p>showing for year {{ selectedFilter }}</p>
    }
    <!-- Pagination End -->
  </section>
  <app-news-detail [blog]="selectedBlog"></app-news-detail>
</main>

<app-back-to-top></app-back-to-top>
